body {
  background-color: #000;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Lato", sans-serif;
}

.menu {
  flex: 2;
}
.first-sect {
  background: linear-gradient(45deg, #000, transparent);
  /* border-top-right-radius: 45px; */
}

.menu,
li {
  display: inline-block;
  padding: 0 10px;
  font-family: "Lato", sans-serif;
}

.menu,
li,
a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  padding-right: 10px;
  font-weight: 900;
}
a:hover {
  color: #747c71;
}

.content-body {
  padding: 10px 40px;
}

.parent {
  font-weight: lighter;
  color: #fff;
  flex: 1;
}
.body-img {
  flex: 2;
}

.body-img img {
  height: auto;
}

.display {
  padding-top: 90px;
}
.display h2 {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 20px;
  /* font-weight: lighter; */
  margin: 0px;
}
.display h1 {
  margin: 0px;
  text-transform: uppercase;
  font-size: 30px;
  /* font-weight: lighter; */
}

button {
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  border: 5px;
  cursor: pointer;
  border-radius: 50px;
  padding: 15px 40px;
  border: 2px solid #fff;
  font-weight: lighter !important;
}

button:hover {
  background-color: #fff;
  box-shadow: #e063ff;
  color: #000000;
  border-radius: 50px;
  border-color: #637aff2d;
  box-shadow: 0px 12px 14px #7b8175;
}

button,
text {
  font-size: 17px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  padding-top: 15px;
  padding: 10px 40px;
}
.grid img {
  border: 1px solid #fff;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  cursor: pointer;
  transition: ease 1s;
}

.grid img:hover {
  transform: scale(1.1);
}

.grid-container {
  display: flex;
  justify-content: space-between;
}
